.background{
    position: absolute;
    width: 100%;
    top: 0%;
    height: 35%;
    bottom: 65%;
    /*background: black;*/
    z-index: 0;
}

#b {
    position: absolute;
    width: 100%;
    top: 0%;
    height: 100%;
    bottom: 65%;
    /*background: black;*/
    z-index: 0;
}

.userID{
    position: absolute;
    top: 30%;
    left: 80%;
    z-index: 1;
    font-size: 3em;
    font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}
.searchButton{
    position: absolute;
    top: 2%;
    right: 3%;
    z-index: 1;
}

.main-button{
    position: fixed;
    z-index: 3;
    bottom: 0%;
    width: 100%;
    height: 8%;
    background: white;
    /*text-align: center;*/
}

.book {
    position: absolute;
    width: 100%;
    top: 35%;
    font-size: 3em;
    bottom: 20%;
}

#m1 {
    position: fixed;
    background-color: transparent;
    /*background: white;*/
    left: 3%;
    bottom: 1%;
    height: 7%;
    width: 9%;
    font-size: 2em;
}

#m2 {
    position: fixed;
    background-color: transparent;
    bottom: 1%;
    height: 7%;
    width: 9%;
    left: 46%;
    /*left: 50%;*/
    /*text-align: center;*/
    /*margin-left: auto;*/
    /*display: block;*/
    /*margin: 0 auto;*/
    font-size: 2em;
}
#m3 {
    position: fixed;
    background-color: transparent;
    right: 3%;
    bottom: 1%;
    height: 7%;
    width: 9%;
    font-size: 2em;
}
#s1 {
    /*position: absolute;*/
    background-color: transparent;

}
#s2 {
    /*position: absolute;*/
    background-color: transparent;
}


